.section_1 {
    height: calc(100vh - 50px);
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;    
}
.section_1_container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.section_1_container .middle_side {
    display: none;
}
.section_1_container .left_side {
    max-width: 285px;
    text-align: justify;
    word-wrap: break-word;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}
.section_1_container .left_side a{
    font-size: 8px;
    text-decoration: underline gray;
    margin-top: 10px;
    margin-bottom: 20px;
}
.section_1_container .left_side span {
    color: #aaa;
}

/* **************************************** */

.section_1_container .right_side {
    margin-right: 30px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}
.section_1_container .right_side h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 43px;
}

.section_1_container .right_side .buttons_w {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 18px;
    margin-bottom: 15px;
}
.section_1_container .right_side .buttons_w button {
    margin: 6px 0;
}
.section_1_container .right_side p {
    font-size: 11px;
}
.section_1_container .right_side p a {
    text-decoration: underline gray;
    font-size: 11px;
}

.section_1 .model_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    widows: auto;
    overflow: hidden;    
}
.section_1 .model_container img {
    object-fit: cover;
    height: 100%;
    width: auto;
}


@media (max-width:768px) {
    .section_1 {
        height: fit-content;
        padding: 20px 0 !important;
    }
    .section_1 > .model_container {
        display: none;
    }    
    .section_1_container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
    .section_1_container .left_side {
        margin-left: 0;
        order: 1;
        /* max-width: unset; */
        /* width: 100%;
        padding: 0 20px; */
    }
    .section_1_container .middle_side {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        width: 100%;
        order: 2;
        
    }
    .section_1_container .middle_side .model_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 90%;
        width: auto;
        overflow: hidden;    
    }
    .section_1_container .middle_side .model_container img {
        object-fit: cover;
        height: 100%;
        width: auto;
    }
    .section_1_container .right_side {
        margin-right: 0;
        order: 3;
        width: 250px;
        /* width: 100%;
        padding: 0 20px; */
    }
    
}